/*@import "_bootstrap.min.scss";*/
@import "_font_lato.scss";
@import "_icon.scss";
@import "_antd.scss";
@import "_dp.scss";


.number {
    text-align: right;
}
.btnClear{
    font-size: 1rem !important;
}
.height-100 {
    height: 100%;
}
.width-100 {
    width: 100%;
}
.tab-panes {
    margin-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;

    .tab-group {
        top: 1px;
        position: relative;

        .button-default {
            margin: 0;
            padding: 8px 10px !important;
            font-weight: 100;
            font-size: 14px;
            background-color: #f9f9f9;
            box-shadow: 0 0 0 0;
            min-width: 100px;
            margin-right: 2px;
            border: 1px solid #d9d9d9;
            border-bottom: 0;
            border-radius: 6px 6px 0 0;
            float: left;
            cursor: pointer;

            &.button-primary {
                background: #fff;
                border-color: #2db7f5;
                color: #57c5f7;
                padding-bottom: 9px !important;
            }
        }
    }
}
input:disabled {
    border-bottom: none !important;
}
.t-r-card {
    margin-top: -1.3rem;
    margin-bottom: -1.3rem;

    .t-r-header {
        padding: 0.45rem 1.25rem;
    }

    .t-r-body {
        padding: 0;

        .t-r-count {
            margin-bottom: 0;
        }
    }
}
.r-pie svg {
    overflow: visible !important;
}
.div-p {
    position: relative;
}
.div-c-b {
    position: absolute;
    bottom: 10%;
    margin: auto;
    left: 0;
    right: 0;
}
.div-c-m{
    position: absolute;
    top: 50%;
    right: 50%;
}
.bor-r-blue{
    border-right: 1px solid #bdbdbd;
}
.borGrey-l-t-r{
    border-left: 2px solid #b1bace;
    border-top: 2px solid #b1bace;
    border-right: 2px solid #b1bace;
}
.borGrey{
    border: 2px solid #b1bace;
}
.borGrey-t-b{
    border-top: 1px solid #b1bace;
    border-bottom: 1px solid #b1bace;
}
.colorBlue{
    background-color: #7283a7;
}
.backgroundGrey{
    background-color: #b1bace;
}
.borderGrey {
    border: 1px solid #b1bace;
}
.backgroundGreyDark{
    background-color: #7283a7;
}
.nonWrap{
    white-space: nowrap;
    overflow: hidden;
}
.fontSize14{
    font-size: 14px;
}
.primary-color {
    background-color: #4285F4!important;
}
tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover{
    background-color: #e6f7ff;
}
.flight-form .ant-input-number-handler-wrap {
    display: none;
}
.flight-form .ant-input-number-input-wrap input {
    text-align: right;
}

.custom-label {
    font-weight: bold;
    display: block;
    width: 33.33333%;
    text-align: right;
    padding-right: 8px;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 14px;
}
.flight-label {
    width: 33% !important;
}

.custom-layout-sider-menu {
    position: relative;
    width: 100%;
    height: 64px;
    line-height: 64px;
    background: #34425A !important;
    text-align: center;
    height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
    // overflow: hidden;
}
.custom-logo-sider-container {
    height: 60px;
}
.custom-header-title{
    display: inline-block;
    margin: 0;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    font-size: 14px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
}

.custom-sider-menu {
    background: #34425A !important;
}
.custom-site-layout-background {
    background: #fff !important;
    padding-left: 20px !important;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.custom-header-menu {
    width: fit-content;
    margin: 0;
    display: inline-flex;
}
.custom-header-menu-sub {
    display: inline-flex;
}


.title-calendar {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .title-button {
    margin: 0 40px 0 40px;
    border-radius: 5px;
    /* background: green; */
    cursor: pointer;
  }
  .title-calendar-item {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: larger;
    font-weight: 600;
  }
  .custom-shift-row1 {
    // border-bottom: 1px solid #000;
    border: none;
  }
  .box-item-col {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3EFEF;
  }
  .box-item {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3EFEF;
  }
  .box-item-row1 {
    height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .timeOut {
    background: #659DBD;
    border: none;
    border-radius: 0px 0px 20px 20px;
  }
  .timeIn {
    background: #659DBD;
    border: none;
    border-radius: 20px 20px 0px 0px;
  }
  .time {
    background: #659DBD;
    border: none;
  }
  .custom-shift-table-time-left {
    // border-right: 1px solid #000;
    border: none;
  }
  .have-content {
      text-align: center;
  }

  .test-test {
      background: #E3E2DF; // #EAE&DC
  }

  .custom-row-left {
      border-radius: 10px 0px 0px 0px;
  }
  .custom-row-right {
    border-radius: 0px 10px 0px 0px;
}